a {
  text-decoration: none;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#FEEDDD 40%, #F0BD8D 90%);
  min-height: 100vh;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

